*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

.section-title{
    color: #000102;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
}

.section-sub{
    color: #575757;
    font-size: 16px;
    text-align: center;
}

.banner h1{
    padding-top: 136px;
    font-size: 80px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.banner p{
    margin-top: 16px;
    font-size: 22px;
    color: white;
    width: 100%;
    max-width: 829px;
    margin: 0 auto;
    text-align: center;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding: 24px 0;
}


nav ul{
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #575757;
}

.action-btn{
    background-color: #615fff;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
}


.banner{
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0)), url(./assets/banner.jpg);
    height: 90vh;
    text-align: center;
    position: relative;
}

.banner button{
    background-color: #615fff;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
    position: absolute;
}

.speaker-section{
    margin-top: 80px;
}

.speaker{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 56px;
}

.speaker-card{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.speaker-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.speaker-content .label{
    color: #2563EB;
    font-size: 12px;
    font-weight: 600;
}
.speaker-content h4{
    color: #0D1B2A;
    font-size: 20px;
    font-weight: bold;
}